# Ignore the virtual environment
C:\Users\gsele\OneDrive\Desktop\weather_app_django\myenv

# Ignore database files
db.sqlite3

# Ignore .pyc files
*.pyc

# Ignore __pycache__ directories
__pycache__\

# Ignore the .env file
.env