<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
    <h1>Weather App Boom Boom</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <label for="city"></label>
        <input type="text" id="city" placeholder="Enter a city" name="city" required >
        <button type="submit">Get Weather</button>
    </form>
    <br>

    {% if city %}
        <!--<h2>Weather in {{ city }}</h2>-->
        {% if weather_data %}
            <h2>Weather in {{ city }}</h2>
            <br>
            <p>Temperature: {{ weather_data.main.temp }}°C</p>
            <br>
            <p>Weather: {{ weather_data.weather.0.description }}</p>
        {% else %}
            <br>
            <p>City not found. Please try again.</p>
        {% endif %}
    {% endif %}
    </div>
</body>
</html>